@page "/"
@inherits EmployeeListBase

<h3>Employee List</h3>

@if (Employees == null)
{
    <div class="spinner"></div>
}

else
{
    <input type="checkbox" @bind="ShowFooter" id="showFooter" />
    <label for="">Show Footer</label>
    <div class="card-deck">

        @foreach (var employee in Employees)
        {
            <DisplayEmployee Employee="employee" ShowFooter="ShowFooter"></DisplayEmployee>
        }
    </div>

}