<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Employee Management Demo</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
       <AuthorizeView>
           <Authorized>
               <li class="nav-item px-3">
                   <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                       <span class="oi oi-home" aria-hidden="true"></span> Home
                   </NavLink>
               </li>
               <li class="nav-item px-3">
                   <NavLink class="nav-link" href="/editemployee"
                            @onclick="HandleClick"
                            Match="NavLinkMatch.All">
                       <span class="oi oi-home" aria-hidden="true"></span> Create
                   </NavLink>
               </li>
               <li class="nav-item px-3">
                   <NavLink class="nav-link" href="https://localhost:44352/api/employees/GenerateReport"
                            Match="NavLinkMatch.All">
                       <span class="oi oi-home" aria-hidden="true"></span> generate report
                   </NavLink>
               </li>

               <li class="nav-item px-3">
                   <NavLink class="nav-link" href="documentviewer">
                       <span class="oi oi-document" aria-hidden="true"></span>
                       Document Viewer
                   </NavLink>
               </li>
               <li class="nav-item px-3">
                   <NavLink class="nav-link" href="reportdesigner">
                       <span class="oi oi-wrench" aria-hidden="true"></span>
                       Report Designer
                   </NavLink>
               </li>
               <li class="nav-item px-3">
                   <NavLink class="nav-link" href="/identity/account/logout"
                            Match="NavLinkMatch.All">
                       <span class="oi oi-power-standby" aria-hidden="true"></span>
                       Log Out
                   </NavLink>
               </li>
           </Authorized>
           <NotAuthorized>
               <li class="nav-item px-3">
                   <NavLink class="nav-link" href="/identity/account/Login"
                            Match="NavLinkMatch.All">
                       <span class="oi oi-lock-locked" aria-hidden="true"></span> Log In
                   </NavLink>
                   <NavLink class="nav-link" href="/jstest"
                            Match="NavLinkMatch.All">
                       <span class="oi oi-lock-locked" aria-hidden="true"></span> js test
                   </NavLink>
            
               </li>
           </NotAuthorized>
       </AuthorizeView>

    </ul>
</div>

@code {
        private bool collapseNavMenu = true;

        private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    @using EmployeeManagement.Web.Services;
    @inject IEmployeeService EmployeeService;

    @inject NavigationManager NavigationManager;
    private void HandleClick()
    {
        NavigationManager.NavigateTo("editemployee", true);
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
